a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul,
body,
p,
input,
h2 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.container {
    max-width: 1011px;
    margin: auto;
}

/* HEADER */

.header__bg-img {
    position: absolute;
    width: 100%;
    height: 780px;
    z-index: -1;
}

.header__bg-color {
    background-color: rgba(255, 0, 0, 0.767);
}

.header__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px 5px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.menu__item_active {
    background-color: rgba(19,14,39,255);
    border-radius: 5px;
}

.menu__item_active:hover {
    background-color: white;
    color: rgba(19,14,39,255);
}

.menu__link {
    display: block;
    padding: 12px 15px;
    color: white;
    font-weight: bold;
}

.menu__link:hover {
    color: rgba(19,14,39,255);
}

.menu__link_padding {
    padding-right: 0;
}

/* SECTION */

.section__bg-color {
    background-color: rgba(255, 0, 0, 0.767);
    height: 614px;
}

.section__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 98px 0 0 21px;
}

.section__notice {
    flex-basis: 54%;
}

.notice__title {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    color: rgba(19,14,39,255);
    padding-bottom: 40px;
    line-height: 0.9;
}

.notice__title-color {
    color: rgba(255,255,255,255);
}

.notice__text {
    font-size: 20px;
    color: rgba(255,255,255,255);
    line-height: 30px;
}

.section__form {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px black;
}

.form__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.form__text,
.form__checkbox,
.form__box,
.form__button {
    width: 100%;
    padding: 20px;
    margin-bottom: 17px;
    border-radius: 5px;
}

.form__text {
    background-color: #eeeeee;
    color: #b5b5b5;
    font-size: 21px;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.form__box {
    cursor: pointer;
    margin-bottom: 0;
    flex-basis: 10%;
    height: 18px;
}

.form__button {
    background-color: #c62314;
    color: white;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    margin-bottom: 0;
}

.form__button:hover {
    background-color: #e90a0a;
}

/* ASIDE */

.aside__bg-color {
    background-color: white;
}

.aside__body {
    padding: 30px 0 70px 21px;
}

.aside__title {
    color: rgba(198,35,20,255);
    font-size: 50px;
    text-transform: uppercase;
}

.aside__title-color {
    color: rgba(19,14,39,255);
}

.aside__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.services-info {
    width: 170px;
    text-align: center;
}

.services__img {
    margin-bottom: 50px;
}

.services__discription {
    line-height: 1.4;
}

/* MAIN */

.main__bg-color {
    background-color: #efefef;
}

.main__header_bg {
    background-color: rgba(19,14,39,255);
}

.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 21px;
}

.story__info {
    color: white;
    flex-basis: 62%;
    line-height: 1.5;
    font-size: 20px;
}

.story__link {
    color: white;
    width: 270px;
    padding: 20px 65px;
    text-transform: uppercase;
    background-color: #c62314;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.product {
    margin-top: 65px;
}

.product__pricing {
    color: rgba(19,14,39,255);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.product__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}

.product__description {
    width: 320px;
    background-color: #ffffff;
    padding: 40px 55px 0 55px;
    border-radius: 5px;
}

.product__title {
    color: rgba(22,22,22,255);
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

.product__price {
    color: rgba(198,35,20,255);
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}

.product__info {
    color: rgba(22,22,22,255);
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.5;
}

.product__link {
    display: block;
    background-color: rgba(19,14,39,255);
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-transform: uppercase;
}

.product__link_bg {
    background-color: rgb(186, 51, 18);
}

/* SECTION */

.section__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article {
    flex-basis: 50%;
    margin: 150px 0 120px 0 ;
}

.article__title {
    text-transform: uppercase;
    font-size: 50px;
    color: rgba(19,14,39,255);
    margin: 0 0 30px 83px;
}

.article__title_color {
    margin: 0 110px 60px 0;
    color: rgba(198,35,20,255);
    text-align: right;
}

.article__cont {
    width: 440px;
    font-size: 20px;
    padding: 30px 62px 30px 30px;
}

.article__cont_bg {
    background-color: #efefef;
    border-radius: 5px;
}

.article__info_1,
.article__info_3 {
    margin-bottom: 30px;
}

.article__info_1 {
    color: rgba(22,22,22,255);
}

.article__info_2 {
    color: rgba(19,14,39,255);
    font-weight: bold;
}

.article__info_3 {
    color: rgba(198,35,20,255);
}

.article__img {
    height: 30px;
}

.article__gallery {
    height: 285px;
}

.article__gallery_width {
    display: none;
}

.article__img1,
.article__img2,
.article__img3,
.article__img4,
.article__img5,
.article__man-img,
.article__woman-img {
    display: block;
    position: relative;
}

.article__man-img {
    z-index: -1;
    top: -156px;
    left: 293px;
}

.article__woman-img {
    top: -66px;
    left: 384px;
}

.article__img1 {
    top: -4px;
    left: -32px;
}

.article__img2 {
    top: -54px;
    left: 77px;
}

.article__img3 {
    top: -300px;
    left: 200px;
}

.article__img4 {
    top: -690px;
    left: 172px;
}

.article__img5 {
    top: -841px;
    left: 369px;
}

.article__link {
    display: block;
    color: rgba(19,14,39,255);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    position: relative;
    width: 300px;
    margin: auto;
    padding: 10px 5px;
}

/* FOOTER */

.footer__br-color {
    background-color: #080a23;
}

.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 50px 0;
}

.footer__info {
    color: rgba(255,255,255,255);
    font-size: 20px;
}

.footer__info_color {
    color: rgba(198,35,20,255);
}

/* CONTACT */

.header-cont {
    background: url(img/header/header__bg-img.png) no-repeat center;
    background-size: cover;
}

.address__bg-color {
    background-color: #efefef;
}

.address__body {
    padding: 20px 75px;
}

.address__body_padding {
    padding-top: 0;
}

.address__title {
    padding: 10px;
    color: rgba(19,14,39,255);
}

.address__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    text-align: center;
}

.address__list-phone {
    margin: 15px 42px;
}

.address__list-email {
    margin: 15px 40px;
}

.address__contact,
.address__link {
    padding: 5px 0;
    font-size: 20px;
}

.address__link {
    color:  #c62314;
}

/* MEDIA */

@media(max-width: 1200px){

    /* SECTION */

    .article__gallery {
        display: none;
    }

    .article__title,
    .article__title_color {
        margin: 0;
        text-align: center;
    }

    .article__gallery_width {
        display: block;
        max-height: 285px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .article__img1_width,
    .article__img2_width,
    .article__img3_width,
    .article__img4_width,
    .article__img5_width {
        border-radius: 100px;
        margin: 20px;
    }
}

@media(max-width: 1000px){

    /* MAIN */

    .product__description {
        width: 270px;
        padding: 20px 20px 0 20px;
    }
}

@media(max-width: 983px){

    /* HEADER & SECTION */

    .header__body {
        padding: 34px 10px;
    }

    .notice__title {
        font-size: 70px;
        padding-bottom: 35px;
    }
    
    .notice__text {
        font-size: 17px;
        line-height: 25px;
    }    
}

@media(max-width: 921px){

    /* SECTION */
    
    .section__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article {
        margin: 40px 0 25px 0;
    }
}

@media(max-width: 900px){

    /* HEADER & SECTION */

    .header__body {
        flex-direction: column;
        justify-content: center;
    }

    .header__bg-img {
        height: 822px;
    }

    .section__bg-color {
        height: 610px;
    }

    .section__body {
        padding: 60px 0 0 21px;
    }
}

@media(max-width: 850px){

    /* MAIN */

    .product {
        margin-top: 20px;
    }

    .product__pricing {
        margin-bottom: 20px;
    }
    
    .product__description {
        width: 220px;
        padding: 10px 10px 0 10px;
    }
}

@media(max-width: 815px){

    /* HEADER & SECTION */

    .section__body {
        flex-direction: column;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    .notice__title {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .section__notice {
        margin-bottom: 10px;
    }

    .section__form {
        margin: auto;
        padding: 15px 10px;
    }

    .header__bg-img {
        height: 900px;
    }

    .section__bg-color {
        height: 689px;
    }

    .form__text,
    .form__checkbox,
    .form__button {
        padding: 15px;
        margin-bottom: 15px;
    }

    /* ASIDE */

    .aside__body {
        padding: 60px 10px 20px 10px;
    }

    .aside__title {
        font-size: 45px;
        text-align: center;
    }

    .aside__services {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* FOOTER */

    .footer__body {
        flex-direction: column;
        justify-content: center;
        padding: 15px 0 10px 0;
    }

    .footer__info {
        margin: 10px;
    }
}

@media(max-width: 715px){

    /* MAIN */

    .story {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .story__info {
        text-align: center;
        line-height: 1.3;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media(max-width: 700px){

    /* MAIN */

    .story__link {
        width: 246px;
        padding: 11px 61px;
        font-size: 21px;
    }

    .product__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .product__description {
        margin-bottom: 10px;
    }

    /* MAIN */

    .product__title {
        margin-bottom: 15px;
    }

    .product__price {
        margin-bottom: 10px;
    }

    .product__info {
        margin-bottom: 10px;
    }
}

@media(max-width: 615px){

    /* SECTION */

    .article__title {
        font-size: 35px;
    }

    .article__cont {
        width: 234px;
        font-size: 15px;
        padding: 10px;
    }

    .article__man-img {
        top: -156px;
        left: 127px;
    }

    .article__woman-img {
        z-index: -1;
        top: -156px;
        left: 184px;
    }

    /* FOOTER */

    .footer__info {
        font-size: 13px;
    }

    .footer__logo {
        width: 150px;
    }
}

@media(max-width: 562px){

    /* MAIN */

    .story__info {
        line-height: 1.2;
        font-size: 11px;
        margin-bottom: 7px;
    }
}

@media(max-width: 525px){

    /* HEADER & SECTION */

    .header__body {
        padding: 10px 5px;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 5px;
    }

    .menu__link_padding {
        padding-right: 15px;
    }

    .notice__title {
        font-size: 50px;
        padding-bottom: 10px;
    }
    
    .notice__text {
        font-size: 15px;
        line-height: 20px;
    }

    .form__title {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .form__text,
    .form__checkbox,
    .form__button {
        padding: 12px;
        margin-bottom: 12px;
    }

    .section__bg-color {
        height: 572px;
    }

    /* ASIDE */

    .services__img {
        margin-bottom: 10px;
        width: 100px;
    }

    .services__discription {
        line-height: 1.2;
        font-size: 12px;
    }
}

@media(max-width: 500px){

    /* CONTACT */

    .address__contact,
    .address__link {
        font-size: 15px;
    }

    .address__list-phone {
        margin: 5px 42px;
    }

    .address__list-email {
        margin: 10px 15px;
    }
}

@media(max-width: 468px){

    /* SECTION */

    .article__img1_width,
    .article__img2_width,
    .article__img3_width,
    .article__img4_width,
    .article__img5_width {
        width: 86px;
        margin: 10px;
    }

    .article:first-child {
        width: 100%;
    }

    .article__title {
        margin-left: 5px;
    }
}

@media(max-width: 420px){

    /* HEADER & SECTION */

    .section__form {
        padding: 10px 5px;
        width: 300px;
    }

    .form__title {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .form__text, .form__checkbox, .form__button {
        padding: 10px;
        font-size: 16px;
    }

    .section__bg-color {
        height: 500px;
    }

    .header__bg-img {
        height: 828px;
    }
}

@media(max-width: 400px){
    .footer__body {
        padding: 5px 0;
    }

    .footer__info {
        font-size: 9px;
    }
}