a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul,
body,
p,
input,
h2 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.container {
    max-width: 1011px;
    margin: auto;
}

/* HEADER */

.header__bg-img {
    position: absolute;
    width: 100%;
    height: 780px;
    z-index: -1;
}

.header__bg-color {
    background-color: rgba(255, 0, 0, 0.767);
}

.header__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.menu__item_active {
    background-color: rgba(19,14,39,255);
    border-radius: 5px;
}

.menu__item_active:hover {
    background-color: white;
    color: rgba(19,14,39,255);
}

.menu__link {
    display: block;
    padding: 12px 15px;
    color: white;
    font-weight: bold;
}

.menu__link:hover {
    color: rgba(19,14,39,255);
}

.menu__link_padding {
    padding-right: 0;
}

/* SECTION */

.section__bg-color {
    background-color: rgba(255, 0, 0, 0.767);
    height: 614px;
}

.section__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 98px 0 0 21px;
}

.section__notice {
    flex-basis: 54%;
}

.notice__title {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    color: rgba(19,14,39,255);
    padding-bottom: 40px;
    line-height: 0.9;
}

.notice__title-color {
    text-transform: uppercase;
    font-size: 90px;
    color: rgba(255,255,255,255);
}

.notice__text {
    font-size: 20px;
    color: rgba(255,255,255,255);
    line-height: 30px;
}

.section__form {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px black;
}

.form__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.form__text,
.form__checkbox,
.form__box,
.form__button {
    width: 100%;
    padding: 20px;
    margin-bottom: 17px;
    border-radius: 5px;
}

.form__text {
    background-color: #eeeeee;
    color: #b5b5b5;
    font-size: 21px;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.form__box {
    cursor: pointer;
    margin-bottom: 0;
    flex-basis: 10%;
    height: 18px;
}

.form__button {
    background-color: #c62314;
    color: white;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    margin-bottom: 0;
}

.form__button:hover {
    background-color: #e90a0a;
}

/* ASIDE */

.aside__bg-color {
    background-color: white;
}

.aside__body {
    padding: 30px 0 70px 21px;
}

.aside__title {
    color: rgba(198,35,20,255);
    font-size: 50px;
    text-transform: uppercase;
}

.aside__title-color {
    color: rgba(19,14,39,255);
}

.aside__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.services-info {
    width: 170px;
    text-align: center;
}

.services__img {
    margin-bottom: 50px;
}

.services__discription {
    line-height: 1.4;
}

/* MAIN */

.main__bg-color {
    background-color: #efefef;
}

.main__header_bg {
    background-color: rgba(19,14,39,255);
}

.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 21px;
}

.story__info {
    color: white;
    flex-basis: 62%;
    line-height: 1.5;
    font-size: 20px;
}

.story__link {
    color: white;
    width: 270px;
    padding: 20px 65px;
    text-transform: uppercase;
    background-color: #c62314;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.product {
    margin-top: 65px;
}

.product__pricing {
    color: rgba(19,14,39,255);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.product__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}

.product__description {
    width: 320px;
    background-color: #ffffff;
    padding: 40px 55px 0 55px;
    border-radius: 5px;
}

.product__title {
    color: rgba(22,22,22,255);
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

.product__price {
    color: rgba(198,35,20,255);
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}

.product__info {
    color: rgba(22,22,22,255);
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.5;
}

.product__link {
    display: block;
    background-color: rgba(19,14,39,255);
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-transform: uppercase;
}

.product__link_bg {
    background-color: rgb(186, 51, 18);
}

/* SECTION */

.section__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article {
    flex-basis: 50%;
    margin: 150px 0 120px 0 ;
}

.article__title {
    text-transform: uppercase;
    font-size: 50px;
    color: rgba(19,14,39,255);
    margin: 0 0 30px 83px;
}

.article__title_color {
    margin: 0 110px 60px 0;
    color: rgba(198,35,20,255);
    text-align: right;
}

.article__gallery {
    height: 285px;
}

.article__img1,
.article__img2,
.article__img3,
.article__img4,
.article__img5,
.article__man-img,
.article__woman-img {
    display: block;
    position: relative;
}

.article__man-img {
    z-index: -1;
    top: -156px;
    left: 293px;
}

.article__woman-img {
    top: -66px;
    left: 384px;
}

.article__img1 {
    top: -54px;
    left: 77px;
}

.article__img2 {
    top: -4px;
    left: -32px;
}

.article__img3 {
    top: -690px;
    left: 172px;
}

.article__img4 {
    top: -841px;
    left: 369px;
}

.article__img5 {
    top: -300px;
    left: 200px;
}

.article__cont1,
.article__cont2 {
    width: 440px;
    font-size: 20px;
    padding: 30px 62px 30px 30px;
}

.article__img {
    height: 30px;
}

.article__cont2 {
    background-color: #efefef;
    border-radius: 5px;
}

.article__info1,
.article__info3 {
    margin-bottom: 30px;
}

.article__info1 {
    color: rgba(22,22,22,255);
}

.article__info2 {
    color: rgba(19,14,39,255);
    font-weight: bold;
}

.article__info3 {
    color: rgba(198,35,20,255);
}

.article__link {
    display: block;
    color: rgba(19,14,39,255);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    position: relative;
    width: 300px;
    margin: auto;
    padding: 5px;
}

/* FOOTER */

.footer__br-color {
    background-color: #080a23;
}

.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 50px 0;
}

.footer__info {
    color: rgba(255,255,255,255);
    font-size: 20px;
}

.footer__info_color {
    color: rgba(198,35,20,255);
}

/* CONTACT */

.header-cont {
    background: url(img/header/header__bg-img.png) no-repeat center;
    background-size: cover;
}

.address {
    background-color: #efefef;
}

.address__list {
    padding: 20px 75px;
}

.address__title {
    padding: 10px;
    color: rgba(19,14,39,255);
}

.address__link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: white;
}

.address__list_padding {
    padding-top: 0;
}

.address__phone {
    margin: 30px 77px;
}

.address__email {
    margin: 30px 40px;
}

.address__way,
.address__contact {
    padding: 5px 0;
    font-size: 20px;
}

.address__contact {
    color:  #c62314;
}